{% extends "base.html" %}
{% block title %}
    {% trans %}Choose a contest{% endtrans %}
{% endblock title %}

{% block body %}
<link rel="stylesheet" href="{{ url("static", "css", "bootstrap.min.css") }}">
<style>
        .button{
            FONT-WEIGHT: 100;
            border: none;
            background: #BB8D32;
            border-radius: 5px;
            padding: 10;
            font-size: 18px;
            color: white;
            margin-top: 15px;
            cursor: pointer;
            margin-right: 50px;
            font-family: sans-serif;
            margin-top: 25px;
        }
        .button:hover{
            background-color: #BC7E04;
        }
</style>
    <div >
	<div class="container">
            <div class="row">
                <div class="col-md-12">
                        <div style="text-align: center;">
                        <img src="static/img/eoi_logo_main.svg" class="img-fluid" style="margin-top: 100px;margin-bottom: 50px;width: 60%;size: 200%;">
                        </div>
                </div>
            </div>
        <div class="row">
        <div class="col-md-12">
        <div style="display: ; justify-content: space-between;">
        
            {% for c_name, c_iter in contest_list|dictsort(by="key") %}
            {% if c_iter.stop > now and c_iter.start < endofday  %} 
            <form action="{{ url(c_iter.name) }}"> <button type="submit" class="btn btn-block button">{{ c_iter.description }}</button> </form> {% endif %} 
            {% endfor %}
                     </div>
                </div>
            </div>
        
        
        </div>
    </div>
{% endblock body %}